@model List<WebAtividadeEntrevista.Models.BeneficiarioModel>

<form id="formBeneficiario">
<div id="modalBeneficiario" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Beneficiário</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Nome">CPF:</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Sobrenome">Nome:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input required="required" type="text" class="form-control cpf-masc" id="CPF-Beneficiario" placeholder="Ex.: 010.011.111-00" maxlength="14">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input required="required" type="text" class="form-control" id="Nome-Beneficiario" placeholder="Ex.: da Silva" maxlength="255">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button type="submit" id="btnIncluirBeneficiario" class="btn btn-sm btn-success">Incluir</button>
                        </div>
                    </div>

                </div>

                <div class="container mt-5">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="col-5">CPF</th> 
                                <th scope="col" class="col-5">Nome</th> 
                                <th scope="col" class="col-2">Ações</th> 
                            </tr>
                        </thead>
                        <tbody id="lista_beneficiarios">
                            @foreach (var beneficiario in Model)
                            {
                                <tr id="@beneficiario.Id">
                                    <td>@beneficiario.CPF</td>
                                    <td>@beneficiario.Nome</td>
                                    <td>
                                        <button type="button" id="@beneficiario.Id" class="btn btn-danger excluir-beneficiario">Excluir</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div> <!-- /.modal -->
</form>
